@import "tailwindcss";

:root {
  --background: #ffffff;    /* 背景色を一旦loginだけで使用 */
  --foreground: #171717;  /* テキスト色を一旦loginだけで使用 */
  --beige-style: #F0E6D2;
  --green-style: #90993C;
  --brown-style: #8D6E63;
  --white-style: #F1F1F1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);


  --color-beige: var(--beige-style);
  --color-green: var(--green-style);
  --color-brown: var(--brown-style);
  --color-white: var(--white-style);

  --font-size-h1: 36px;
  --font-size-h2: 30px;
  --font-size-h3: 24px;
  --font-size-h4: 20px;
  --font-size-p: 16px;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
